*{  font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: opx;
   padding: 0px;
   font-size: 14px;
}
#navbarSupportedContent a{
font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 14px;
}
   #navbarSupportedContent   a:hover{
    border-bottom: 3px solid black;
   
    

}
.left{
    font: 14px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap:30px;
    justify-content: end;
   justify-content: space-evenly;
   
}
.left a:hover{
    border-bottom: 3px solid black;
} 
.dropdown button:hover{

     border-bottom: 3px solid black;
}
#card-body{ 
    position: relative;
    top:80px;
    left: 40px;
    padding: 20px;
    width: 600px;
    background-color: white;
    height:300px;
}
.img-thumbnail{ 
    position: relative;
    height: 50px;
    width: 50px;
}
#iconmind{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and(max-width:600px) {
    #card-body{ 

    margin:20px 0 0 40px;
    padding: 20px;
    width: 600px;
    background-color: red;
    height:300px;
}


#iconmind{

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

   gap:10px;
}
}
.business{
    margin-top:80px;
    
}
footer{
    background-color: #d3d1d1;
    line-height: 30px;
    color: black;
    display: flex;
    flex-direction: row;
    gap: 70px;
}
footer li{
    list-style: none;
}
footer a{
    text-decoration: none;
    color: #000;
    font-size: 10px;
    font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
footer a:hover{
    text-decoration: underline solid black 1px;
}